{% include header.ext %}
    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">LongLong's Blog</h1>
        <p class="lead blog-description">分享IT技术，分享生活感悟，热爱摄影，热爱航天。</p>
      </div>

      <div class="row">
        <div class="col-sm-9 blog-main">
		  {% for post in paginator.posts %}
		  <div class="blog-post">
		  	<a href="{{ post.url }}"><h2 class="blog-post-title">{{ post.title }}</h2></a>
			<p class="blog-post-meta">{{ post.date | date_to_long_string }}</p>
			{{ post.content }}
		  </div>
		  {% endfor %}
		  <!-- /.blog-post -->
          {% if paginator.total_pages > 1 %}
		  <nav>
            <ul class="pager">
              {% if paginator.previous_page %}
			  <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}/">Previous</a></li>
			  {% endif %}
			  {% if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}/">Next</a></li>
			  {% endif %}
            </ul>
          </nav>
		  {% endif %}
        </div><!-- /.blog-main -->
		{% include sidebar.ext %}
      </div><!-- /.row -->
    </div><!-- /.container -->
{% include footer.ext %}
